<div class="container-fluid">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row"> <img src="../../assets/netmeds2.png" class="logo" style="height: fit-content;">
                    </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img
                            src="https://i.imgur.com/uNGdWHi.png" class="image"> </div>
                </div>
            </div>
            <div class="col-lg-6" style="position: relative;">
                <h1 class="mb-1 text-sm" style="font-size: 25px !important; font-weight: 600; color: #3fb8bb; margin-left: 20px;">Login</h1>
                <p style="position: absolute; top: 40px; z-index: 100; left: 40px; color: red;">{{statusMessage}}</p>
                <div class="card2 card border-0 px-4 py-5">

                    <form >
                        <div class="row px-3"> <label class="mb-1">
                                <h6 class="mb-0 text-sm">User Name</h6>
                            </label> <input class="mb-4" type="text" name="email" placeholder="Enter a Username" [(ngModel)] = "user.userName"> </div>
                        <div class="row px-3"> <label class="mb-1">
                                <h6 class="mb-0 text-sm">Password</h6>
                            </label> <input type="password" name="password" placeholder="Enter password" [(ngModel)] = "user.password"> </div>

                        <div class="row mb-3 px-3"> <button type="submit"
                                class="btn btn-blue text-center" (click) = "handleLogin()">Login</button> </div>
                    </form>
                    <div class="row mb-4 px-3"> <small class="font-weight-bold">Don't have an account? <a
                                class="text-danger ">Register</a></small> </div>
                </div>
            </div>
        </div>
        <!-- <div class="bg-blue py-4">
            <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2021. All rights reserved.</small>
                <div class="social-contact ml-4 ml-sm-auto"> <span class="fa fa-facebook mr-4 text-sm"></span> <span class="fa fa-google-plus mr-4 text-sm"></span> <span class="fa fa-linkedin mr-4 text-sm"></span> <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> </div>
            </div>
        </div> -->
    </div>
</div>