/* .css-1wxsffm blockquote, [data-css-1wxsffm] blockquote {
    background-color: rgba(255,229,100,0.3);
    border-left-color: #ffe564;
    border-left-width: 9px;
    border-left-style: solid;
    padding: 20px 45px 20px 26px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 20px;
} */

.body{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px, 20px;
}
.h {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}

.image-sundar{
    background-image: url('../../assets/api.png');
    background-repeat: no-repeat;
  }

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

.is-helpful3 {
    /* border-left: 8px solid #1976d2; */
    background-color: #0d1014;
    /* border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; */
    /* border-radius: 8px; */
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    background: rgb(40, 44, 52);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: auto;
    tab-size: 1.5em;
}

.is-help {
    color: aliceblue; 
    padding: 10px;
}


.callout.is-helpful {
    border-color: #1976d2;
    background: rgba(25,118,210,.05);
}

/* .callout {
    padding: 0;
    border-left: none!important;
    border-radius: 4px;
} */
.callout {
    padding: 10px;
    /* margin: 0px 20px; */
    margin-right: 30px;
    border: 1px solid #32AEB1;
    border-left-width: 5px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-radius: 4px;
    background: rgba(25,118,210,.05);
}
.callout-header{
    margin-top: 0; 
    margin-bottom: 5px;
}
.callout-body{
    font-size: 13px;
}

/* .alert{
    margin-left: 0px;
    padding-left: 0px;
}
.alert-body {
    padding: 20px;
    height: 100px;
    border-radius: 6px;
    background: rgba(25,118,210,.05);
    margin-top: 0%;
}
.alert-header{
    width: 100%;
    height: 40px;
    background-color: blue;
    color: white;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
} */


.method-title h1{ 
    font-weight: bold;
}
.method-title p{
    font-size: 13px;
}

.payload-div{
    margin-right: 30px;
}

img{
    /* height: 20%; */
    /* width: 20%; */
    height: 70%;
    opacity: 0.3;
}
