<div *ngIf="childMessage == null" style="display: flex; align-items: center; justify-content: center; height: 90vh; ">
    <img src="../../assets/netmeds.png" alt="" >
</div>


<div style="margin-left: 50px; " *ngIf="childMessage != null">
    <div class="method-title" style="margin-top: 50px">
        <h1>{{childMessage?.description}}</h1>
        <hr style="margin-right: 35px;">
        <h3> {{childMessage?.subDescription}}</h3>
    </div>
    <br>
        
    <div *ngIf="tip">
        <div class="callout callout-warning">
            <h2 style="font-weight: bold;" class="callout-header">Tip</h2>
            <p class="callout-body">{{tip}}</p>
        </div>
    </div>

    <br>
    <div *ngIf="childMessage">
        <h2 style="font-weight: bold;">Basic Information</h2>
        <db-angular-tree-grid #angularGrid [data]="basicTableData" [configs]="basicConfig"></db-angular-tree-grid>
    </div>

    <br> 
    <div *ngIf="emptyCheck(childMessage?.schema?.parameterPayload)" class="payload-div">
        <h2 style="font-weight: bold;">Parameter Payload</h2>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
            <button class="nav-link active" nav-link-color="green" id="pills-example-parameter-tab" data-bs-toggle="pill" data-bs-target="#pills-example-parameter" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Schema</button>
            </li>
            <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-schema-parameter-tab" data-bs-toggle="pill" data-bs-target="#pills-schema-parameter" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"
            *ngIf="childMessage?.schema?.parameterPayloadExample != ''"
            >Example</button>
            </li>
        </ul>   
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-example-parameter" role="tabpanel" aria-labelledby="pills-example-parameter-tab">

                    <div class="is-helpful3">
                        <ngx-json-viewer [json]="childMessage?.schema?.parameterPayload"></ngx-json-viewer>
                    </div>

            </div>
            <div class="tab-pane fade" id="pills-schema-parameter" role="tabpanel" aria-labelledby="pills-schema-parameter-tab">              
                <div class="is-helpful3" >
                    <ngx-json-viewer [json]="childMessage?.schema?.parameterPayloadExample"></ngx-json-viewer>
                </div>         
            </div>      
        </div>
    </div>
    <br>
    <div *ngIf="emptyCheck(childMessage?.schema?.parameterPayloadDetails)">
        <h2 style="font-weight: bold;">Parameter Payload Details</h2>
        <db-angular-tree-grid   #angularGrid [data]="childMessage?.schema?.parameterPayloadDetails" [configs]="parameterConfig"></db-angular-tree-grid>
    </div>
    <br>
    <div *ngIf="emptyCheck(childMessage?.schema?.parameterValidation)">
        <h2 style="font-weight: bold;">Parameter Validations</h2>
        <db-angular-tree-grid   #angularGrid [data]="childMessage?.schema?.parameterValidation" [configs]="validationConfig"></db-angular-tree-grid>
    </div>
    
    <br> 
    <div *ngIf="emptyCheck(childMessage?.schema?.requestPayload)" class="payload-div">
        <h2 style="font-weight: bold;">Request Payload</h2>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
            <button class="nav-link active" nav-link-color="green" id="pills-example-request-tab" data-bs-toggle="pill" data-bs-target="#pills-example-request" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Schema</button>
            </li>
            <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-schema-request-tab" data-bs-toggle="pill" data-bs-target="#pills-schema-request" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"
            *ngIf="childMessage?.schema?.requestPayloadExample != ''"
            >Example</button>
            </li>
        </ul>   
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-example-request" role="tabpanel" aria-labelledby="pills-example-request-tab">
                    <div class="is-helpful3">
                        <ngx-json-viewer [json]="childMessage?.schema?.requestPayload"></ngx-json-viewer>
                    </div>

            </div>
            <div class="tab-pane fade" id="pills-schema-request" role="tabpanel" aria-labelledby="pills-schema-request-tab">              
                <div class="is-helpful3" >
                    <ngx-json-viewer [json]="childMessage?.schema?.requestPayloadExample"></ngx-json-viewer>
                </div>         
            </div>      
        </div>
    </div>
    
    <br>
    
    <div *ngIf="emptyCheck(childMessage?.schema?.requestPayloadDetails)">
        <h2 style="font-weight: bold;">Request Payload Details </h2>
        <db-angular-tree-grid  #angularGrid [data]="childMessage?.schema?.requestPayloadDetails" [configs]="requestConfig" ></db-angular-tree-grid>
    </div> 
    

    <br>
    <div *ngIf="emptyCheck(childMessage?.schema?.requestValidation)">
        <h2 style="font-weight: bold;">Request Validations</h2>
        <db-angular-tree-grid   #angularGrid [data]="childMessage?.schema?.requestValidation" [configs]="validationConfig"></db-angular-tree-grid>
    </div>
    <!--Response payload-->
    <br> 
    <div *ngIf="emptyCheck(childMessage?.schema?.responsePayload)" class="payload-div"> 
        <h2 style="font-weight: bold;">Response Payload</h2>
        <ul class="nav nav-pills mb-3" id="pills-tab2" role="tablist" style="background-color: 32AEB1">
            <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-example-response-tab" data-bs-toggle="pill" data-bs-target="#pills-example-response" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Schema</button>
            </li>
            <li class="nav-item" role="presentation" >
            <button class="nav-link" id="pills-schema-response-tab" data-bs-toggle="pill" data-bs-target="#pills-schema-response" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" *ngIf="childMessage?.schema?.responsePayloadExample != ''">Example</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent2">
            <div class="tab-pane fade show active" id="pills-example-response" role="tabpanel" aria-labelledby="pills-example-response-tab">

                    <div class="is-helpful3">
                        <ngx-json-viewer [json]="childMessage?.schema?.responsePayload?.success"></ngx-json-viewer>
                    </div>

            </div>
            <div class="tab-pane fade" id="pills-schema-response" role="tabpanel" aria-labelledby="pills-schema-response-tab">                
                <div class="is-helpful3" >
                    <ngx-json-viewer [json]="childMessage?.schema?.responsePayloadExample"></ngx-json-viewer>
                </div>                 
            </div>       
        </div>
    </div>

    <br>
    
    <!-- success Payload Details -->
    <div *ngIf="emptyCheck(childMessage?.schema?.responsePayload?.successDetails)">
        <h2 style="font-weight: bold;">Success Payload Details </h2>
        <db-angular-tree-grid   #angularGrid [data]="childMessage?.schema?.responsePayload?.successDetails" [configs]="responseConfig"></db-angular-tree-grid>
    </div>

    <div *ngIf="emptyCheck(childMessage?.schema?.responsePayload?.failureDetails)">
        <h2 style="font-weight: bold;">Failure Payload Details </h2>
        <db-angular-tree-grid   #angularGrid [data]="childMessage?.schema?.responsePayload?.failureDetails" [configs]="responseConfig"></db-angular-tree-grid>
    </div>

    <footer style=" color: red; height: 150px;">
    </footer>

</div>

