

<div  *ngIf="childMessage == null"
style="display: flex; align-items: center; justify-content: center; height: 90vh;">
    <img src="../../assets/netmeds.png" alt="">
    <!-- <h1  > Welcome to the API - Exchange Portal </h1> -->
</div>


<div style=" margin-left: 50px;" *ngIf="childMessage != null"  >
    <div class="method-title" style="margin-top: 50px">
        <h1>{{methodTitle}}</h1>
        <p> {{methodDescription}}</p>
    </div>
    <br>
        
    <div *ngIf="tip">
        <div class="callout callout-warning">
            <h2 style="font-weight: bold;" class="callout-header">Tip</h2>
            <p class="callout-body">{{tip}}</p>
        </div>
    </div>
       

    <br>
    <div *ngIf="childMessage">
        <h2 style="font-weight: bold;">Basic Information</h2>
        <db-angular-tree-grid (rowselect)="expandAll($event)" #angularGrid [data]="data" [configs]="configs"></db-angular-tree-grid>
    </div>
    
    <br>
    <div *ngIf="emptyCheck(childMessage?.schema?.requestPayload)" class="payload-div">
        <h2 style="font-weight: bold;">Request Payload</h2>
        <div class="is-helpful3">
            <pre class="is-help">{{ requestPayload | json }}</pre>
        </div>
    </div>
    <br>
    <div *ngIf="emptyCheck(childMessage?.schema?.requestPayloadDetails)">
        <h2 style="font-weight: bold;">Request Payload Details </h2>
        <db-angular-tree-grid  (rowselect)="expandAll2($event)" #angularGrid2 [data]="data2" [configs]="configs2"></db-angular-tree-grid>
    </div> 
    <br>
    <div *ngIf="emptyCheck(childMessage?.schema?.responsePayload)" class="payload-div">
        <h2 style="font-weight: bold;">Response Payload</h2>
        <div class="is-helpful3">
            <pre class="is-help">{{ responsePayload | json }}</pre>
        </div>
    </div>
    <br>
    <div *ngIf="emptyCheck(childMessage?.schema?.responsePayloadDetails)">
        <h2 style="font-weight: bold;">Response Payload Details </h2>
        <db-angular-tree-grid  (rowselect)="expandAll3($event)" #angularGrid3 [data]="data3" [configs]="configs3"></db-angular-tree-grid>
    </div>

    <footer style=" color: red; height: 150px;">
    </footer>

</div>

