body{
  overflow-x: hidden;
}
.sidemenuStyle{
  width: 280px; 
  border: 1px; 
  /* overflow-x: hidden; */
}



/* width */
.dev-container ::-webkit-scrollbar{
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(167, 167, 175); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(62, 62, 63); 
}

.header-color {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.nav-color{
  display: flex;
  background-color:#32aeb1;
  /* background: #32aeb1; */
  color: whitesmoke;
}
.p {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dev-container{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  width: 100%;
  position: sticky;
  overflow: hidden;
  top: 0;
  
} 

#swagger-ui{
  height: 87vh;
}  

.example-tree-invisible {
  display: none;
}  
  
.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}  

.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 8px;
}  

.example-tree div[role=group] > .mat-tree-node {
  padding-left: 23px;
}  

.mat-tree-node{
  cursor: pointer;
  min-height: 15px;
}

.mat-tree-node span{
  padding: 5px;
  display: flex;
}  
.mat-tree-node span mat-icon{
  margin-top: -1px;
} 

/* .api-content:hover{
  background-color: #e0f2f1;
  padding: 2px;
  border-radius: 6px;
}   */

.api-content{
  display: flex; 
  align-items: center; 
  margin-left: -30px;
  width: auto;
}

.api-content .btn{
  color: white; 
  border: 0px; 
  width: 70px; 
  height: 36px; 
  margin-right: 5px;
  font-family: sans-serif;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgb(0 0 0 / 10%);
}

.api-content-details{
  display:flex; 
  flex-direction: column;
}



.api-content-description{
  width: 150px; 
  white-space: nowrap;
  overflow: hidden;                
  text-overflow: ellipsis;
  font-size: 11px;
}

.example-container{
  height: 90vh;
}
::ng-deep .mat-drawer-inner-container {
  height: unset !important;
}

.nav-color .nav-title{
  display: flex;
  flex: 1;
}
.nav-color div span{
  margin-top: 5px;
}
/* .nav-color p {
  font-size: small;
  margin-right: 30px;
  margin-top: -10px;
}
.nav-color .material-icons{
  padding: 10px;
  margin-top: 10px;
} */
.user-ui {
  display: flex;
  margin-top: 10px;
}
.user-ui p{
  font-size: medium;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.mat-icon {
  height: unset;
  width: unset;
}