body{
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.nav-color{
  background-color: black;
  color: whitesmoke;
}

.dev-container{
  height: 100vh;
  width: 100%;
}  

#swagger-ui{
  height: 87vh;
}  

.example-tree-invisible {
  display: none;
}  
  
.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}  

.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 8px;
}  

.example-tree div[role=group] > .mat-tree-node {
  padding-left: 23px;
}  

.mat-tree-node{
  cursor: pointer;
}

.mat-tree-node span{
  padding: 5px;
  display: flex;
}  
.mat-tree-node span mat-icon{
  margin-top: -1px;
} 

.api-content:hover{
  background-color: #e0f2f1;
  padding: 2px;
  border-radius: 6px;
}  

.api-content{
  display: flex; 
  align-items: center; 
  margin-left: -30px;
  width: auto;
}

.api-content .btn{
  color: white; 
  border: 0px; 
  width: 70px; 
  height: 36px; 
  margin-right: 5px;
  font-family: sans-serif;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgb(0 0 0 / 10%);
}

.api-content-details{
  display:flex; 
  flex-direction: column;
}

/* .api-content-path {
  position: relative;
} */
/* .api-content-description {
  position: relative;
} */
/* .api-content-path span{
  position: absolute;
  display: inline-block;
  visibility: hidden;
  right: 0;
  left: 30px;
  bottom: 15px;
}
.api-content-description span{
  position: absolute;
  display: inline-block;
  visibility: hidden;
  right: 0;
  bottom: 10px;
  top: 20px;
} */

/* .api-content-path:hover span{
  background-color: lightblue;
  border-radius: 3px;
  padding: 1px 3px;
  border-bottom:1px dotted #666;
  visibility: visible;
  z-index: 999999;
}
.api-content-description:hover span{
  background-color: lightcoral;
  border-radius: 3px;
  padding: 1px 3px;
  border-bottom:1px dotted #666;
  visibility: visible;
  z-index: 999999;
} */

.api-content-description{
  width: 150px; 
  white-space: nowrap;
  overflow: hidden;                
  text-overflow: ellipsis;
  font-size: 11px;
}

