<div class="dev-container">
    <mat-toolbar class="nav-color">
      <button mat-icon-button class="example-icon" (click)="uiControl.toogleSideBar = !uiControl.toogleSideBar">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="header-color">Exchange Web Portal</span>
    </mat-toolbar>
    <mat-drawer-container class="example-container">
      <mat-drawer mode="side" [opened] = "uiControl.toogleSideBar">
        <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
            
            <mat-tree-node *matTreeNodeDef="let node" (click)="onClick(node)" style="cursor: pointer;">
              <span>
                <mat-icon class="material-icons" *ngIf="node.type == 1">
                  {{'folder'}}
                </mat-icon>
                <mat-icon class="material-icons" *ngIf="node.type != 1">
                  description
                </mat-icon>
                {{node.name}}
              </span>
            </mat-tree-node>  // Which array is travelling....
      
            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                <div class="mat-tree-node" (click)="onClick(node)">
                  <span matTreeNodeToggle >
                    <mat-icon class="material-icons">
                      {{treeControl.isExpanded(node) ? 'arrow_drop_down' : 'arrow_right'}}
                    </mat-icon>
                    <mat-icon class="material-icons">
                      {{treeControl.isExpanded(node) ? 'folder_open' : 'folder'}}
                    </mat-icon>
                    {{node.name}}
                </span>
                </div>
                <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
                    role="group">
                  <ng-container matTreeNodeOutlet></ng-container>
              </div>
            </mat-nested-tree-node>
          </mat-tree>
        </div>
        
      </mat-drawer>
    
      <mat-drawer-content>
          <div id="swagger-ui"> </div>
      </mat-drawer-content>
    
    </mat-drawer-container>
  </div>